# Python / Django
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
env/
.env
db.sqlite3
/static/
/media/

# Node / React
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# IDEs / Text Editors
.vscode/
.idea/
*.swp
*.swo
.project
.pydevproject
.settings/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
logs/
